<div class="donor-login">
  <%= form_tag sessions_create_donors_path do %>

  <p>
    <%= label_tag :email %> <br>
    <%= text_field_tag :email, params[:email], class: 'form-control' %>
  </p>

  <p>
    <%= label_tag :password %> <br>
    <%= password_field_tag :password, params[:password], class: 'form-control' %>
  </p>

  <%= submit_tag(value = "Login", class:'btn btn-info btn-sm') %>
  <%= link_to "Create A Donor Account", new_donor_path, style: "float: right" %>

  <% end %>
</div>
