<div class="donor-form">

	<%= form_for @donor do |f| %>

		<%= f.label :first_name, "First Name" %><br />
		<%= f.text_field :first_name, class: 'form-control', placeholder: "John" %><br>

		<%= f.label :last_name, "Last Name" %><br />
		<%= f.text_field :last_name, class: 'form-control', placeholder: "Doe" %><br>

		<%= f.label :email %><br />
		<%= f.text_field :email, class: 'form-control', placeholder: "your.email@email.com"  %><br>

		<%= f.label :password %><br />
		<%= f.password_field :password, class: 'form-control', placeholder: "Password"  %><br>

		<%= f.label :password_confirmation, "Password Confirmation" %><br />
		<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password"  %><br>

		<div class="text-center">
			<%= f.submit "Register Donor", class:'btn btn-info btn-sm text-center'%>
		</div>

	<% end %>

</div>