<div class="container">
  <div class="row">
  <h1 class="requests-new-title"><%= @campaign.name %></h1>
    <div class="available-items col-md-6">
      <div class="available-items-title"><h2>Available Items</h2></div>
      <div class="available-items-list">
        <% @items.each do |item| %>
          <div class="available-item">
            <img class="available-item-img" src="<%= item.img_url %>" height="42" width="42">
            <div class="available-item-name"><%= item.name %></div>
            <div class="available-item-price"><%= item.price_dollars %></div>
            <div class="available-item-quantity">
              <%= form_tag("/campaigns/#{@campaign.id}/requests", method: "post") do %>
                <%= number_field_tag "request[quantity]", nil, in: 1...100 %>
                <%= hidden_field_tag "request[item_id]", item.id %>
                <%= hidden_field_tag "request[campaign_id]", @campaign.id %>
                <%= submit_tag("Add Items") %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="new-requested-items col-md-6">
      <div class="new-requested-items-title"><h2>Requested Items</h2></div>
      <div class="new-requested-items-total">$<%= @campaign.total_requests_price %></div>
      <div class="new-requested-items-list">
        <% @campaign.requests.each do |request| %>
          <div class="new-requested-item">
            <img class="new-requested-item-img" src="<%= request.item.img_url %>" height="42" width="42">
            <div class="new-requested-item-name">NAME: <%= request.item.name %></div>
            <div class="new-requested-item-quantity">QNTY: <%= request.quantity %></div>
            <div class="new-requested-item-price">PRICE:<%= request.item.price_dollars %></div>
            <div class="new-requested-item-delete"><%= link_to 'Delete', campaign_request_path(@campaign, request), method: :delete %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
