<h1>Campaign Make Requests Page</h1>

<div>
  <% @campaign.requests.each do |request| %>
    <span>
      QNTY: <%= request.quantity %>
      <img src="<%= request.requested_item.img_url %>" height="42" width="42">
      NAME: <%= request.requested_item.name %><br>
      PRICE:<%= request.requested_item.price_dollars %>
      <%= link_to 'Delete', organization_campaign_request_path(@organization, @campaign, request), method: :delete %>

    </span><br>
  <% end %><br>
</div>


<div>
  <% @items.each do |item| %>
    <div>
      <span>
        <img src="<%= item.img_url %>" height="42" width="42">
        <%= item.name %><br>
        <%= item.price_dollars %>
        <%= form_tag("/organizations/#{@organization.id}/campaigns/#{@campaign.id}/requests", method: "post") do %>
          <%= number_field_tag "request[quantity]", nil, in: 1...100 %>
          <%= hidden_field_tag "request[item_id]", item.id %>
          <%= hidden_field_tag "request[campaign_id]", @campaign.id %>
          <%= submit_tag("Add Items") %>
        <% end %>
      </span><br>
    </div>
  <% end %>


</div>
