<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 class="dashboard-title">Show Campaign</h1>
      <h1><%= @campaign.name %></h1>

      <div>
      <p><%= @campaign.description %> </p>
      </div>

      <div class="org-box">
        <div>
          <p><%= @campaign..name  %></p>
        </div>

        <div>
          <p><%=@campaign.organization.city %>, <%= @campaign.organization.state  %></p>
        </div>
      </div>

      <% @campaign.donors.each do |donors| %>
      <% end %>

    </div>


    <div class="col-md-3">

      <h2>Requested Items</h2>

      <% @requests.each do |request| %>
      <% if request.quantity > 0 %>


      <div class="item-div">
       <%= form_tag("/organizations/#{@organization.id}/campaigns/#{@campaign.id}/create_pledges", method: 'post') do %>

       <div class="item-img">
        <img src=" <%= request.requested_item.img_url %>" height="42" width="42">
      </div>

      <div class="item-desc">
        <p><%= request.requested_item.name %></p>
      </div>

      <div class="item-footer">
        <div class="item-price">
          <p>Price</p>
          <p>$<%= request.requested_item.price_dollars %></p>
        </div>

        <div class="item-qty">
          <p>Qty</p>
          <p><%= request.quantity %></p>
        </div>

        <div class="item-plg">
          <%= number_field_tag "pledge[quantity]", nil, in: 1..request.quantity %>
          <%= hidden_field_tag "pledge[item_id]", value="#{request.requested_item.id}" %>
          <%= hidden_field_tag "pledge[request_id]", value="#{request.id}" %>
          <%= submit_tag "Pledge", class: "btn btn-info btn-xs" %>
        </div>
      </div>

    </div>
    <% end %>
    <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-3">
  <h2>You Pledged:</h2>
    <% @user_campaign_pledges.each do |pledge| %>
    <div class="item-div">
      <div class="pledge-name">
      <%= pledge.pledged_item.name %>
      </div>

      <div class="pledge-qty">
      x<%= pledge.quantity %>
      </div>
    </div>
    <% end %>
</div>

</div>
</div>
