<!DOCTYPE html>
<html>
<head>
  <title>smartSOS</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>


  <div class="container">

   <nav class="navbar navbar-default " role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand smart" href="/">smartSOS</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

         <ul class="nav navbar-nav navbar-left">
           <li><%= link_to "About Us", aboutus_path %></li>
         </ul>

         <% if donor_logged_in? || organization_logged_in? %>
         <ul class="nav navbar-nav navbar-left">
           <li><%= link_to "Log Out", sessions_logout_path %></li>
         </ul>
          <% end %>

         <ul class="nav navbar-nav navbar-right">
           <% if organization_logged_in? %>
             <li id="org-btn"><%= link_to "I'm an Organization", organization_path(session[:organization_id]) %></li>
           <% else %>
             <li id="org-btn"><%= link_to "I'm an Organization", organizations_login_path %></li>
           <% end %>
           <li id="pledge-btn"><%= link_to "Make a pledge", campaigns_path %></li>
         </ul>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>
 



    <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
                <%= value %>
          </div>
    <% end %>


    <%= yield %>
  </div>

  </body>
</html>
