<!DOCTYPE html>
<html>
<head>
  <title>Smartsos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if flash %>
      <% flash.each do |key, value| %>
        <div class='alert-danger' id='<%= key %>'>
          <%= value %>
        </div>
      <% end %>
    <% end %>
<%= yield %>

</body>
</html>
